
<br>
<div class="row">
  <div class="col-md-5">
    <h5>Add Teachers</h5>
    <br>
    <form [formGroup]="this.teacherService.form" (ngSubmit)="onSubmit()">
      <input type="hidden" formControlName="$key">
      <div class="form-group">
        <label>Teacher ID</label>
        <input formControlName="teacherid" class="form-control" [ngClass]="{'is-invalid' :submitted && formControls.teacherid.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls.teacherid.errors"></div>
      </div>
      <div class="form-group">
        <label>Full Name</label>
        <input formControlName="fullName" class="form-control" [ngClass]="{'is-invalid' :submitted && formControls.fullName.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls.fullName.errors"></div>
      </div>
      <div class="form-group">
          <label>ID Card Number</label>
          <input formControlName="idnumber" class="form-control" [ngClass]="{'is-invalid' :submitted && formControls.idnumber.errors}">
          <div class="invalid-feedback" *ngIf="submitted && formControls.idnumber.errors">
            ID number must include atleast 10 characters
          </div>
      </div>
      <div class="form-group">
          <label>mobile</label>
          <input formControlName="mobile" class="form-control" [ngClass]="{'is-invalid' :submitted && formControls.mobile.errors}">
          <div class="invalid-feedback" *ngIf="submitted && formControls.mobile.errors">
            <label *ngIf="fromControls.mobile.errors.required">This Field is required</label>
            <label *ngIf="fromControls.mobile.errors.required">Atleast 8 numbers</label>
          </div>
      </div>
      <div class="form-group">
          <label>Subject</label>
          <input formControlName="subject" class="form-control">
      </div>
      <div class="form-group">
        <label>Class</label>
        <input formControlName="class" class="form-control">
    </div>
      <div class="form-group">
          <input type="submit"class="btn btn-primary" value="Submit">
      </div>
    </form>
    <div class="alert alert-info"  *ngIf="showSuccessMessage">
      Submitted successfully.
    </div>
  </div>
  
  <div class="col-md-7">
    <h5>Teachers Details</h5>
    <br>
    <app-teachers-list></app-teachers-list>
  </div>
  
</div>