<form class="form-inline">
    <input class="form-control" name="searchInput" placeholder="Search" #searchInput="ngModel" [(ngModel)]="searchText" style="width: 80%;">
    <button class="btn btn-outline-primary" (click)="searchText=''">X</button>
  </form>
  <table class="table table-sm" style="background-color: rgb(36, 20, 73);">
    <thead style="color: aliceblue;">
        <th>ID</th>
      <th>Class Name</th>
      <th>Class teacher</th>
      <th>No of sts</th>
      <th>memo</th>
      <th></th>
    </thead>
    <ng-container *ngFor="let clz of clzArray">
      <tr class="table-light" *ngIf="filterCondition(clz)">
          <td>{{clz.clzid}}</td>
        <td>{{clz.clzname}}</td>
        <td>{{clz.clzteacher}}</td>
          <td>{{clz.numberofstudents}}</td>
          <td>{{clz.clzmemo}}</td>
          <td>
            
            <button class="btn btn-outline-info" (click)="clzService.populateForm(clz)">Edit</button>
            <button class="btn btn-outline-danger" (click)="onDelete(clz.$key)">Delete</button>
          </td>
      </tr>
    </ng-container>
  </table>
  <div class="alert alert-danger" *ngIf="showDeletedMessage">
    Deleted successfully.
  </div>
  
  
  