<form class="form-inline">
  <input class="form-control" name="searchInput" placeholder="Search"  style="width: 80%;">
  <button class="btn btn-outline-primary" (click)="searchText=''">X</button>
</form>
<table class="table table-sm">
  <thead>
    <th>Full Name</th>
    <th>Email</th>
    <th>Mobile</th>
    <th></th>
  </thead>
  <ng-container *ngFor="let student of studentArray">
    <tr class="table-dark" *ngIf="filterCondition(student)">
      <td>{{student.fullName}}</td>
      <td>{{student.email}}</td>
        <td>{{student.mobile}}</td>
        <td>
          <button class="btn btn-outline-info" (click)="studentService.populateForm(student)">Edit</button>
          <button class="btn btn-outline-danger" (click)="onDelete(student.$key)">Delete</button>
        </td>
    </tr>
  </ng-container>
</table>
<div class="alert alert-danger" *ngIf="showDeletedMessage">
  Deleted successfully.
</div>
