<form class="form-inline">
  <input class="form-control" name="searchInput" placeholder="Search" #searchInput="ngModel" [(ngModel)]="searchText" style="width: 80%;">
  <button class="btn btn-outline-primary" (click)="searchText=''">X</button>
</form>
<table class="table table-sm" style="background-color: rgb(36, 20, 73);">
  <thead style="color: aliceblue;">
    <th>ID</th>
    <th>Full Name</th>
    <th>ID Number</th>
    <th>Mobile</th>
    <th></th>
  </thead>
  <ng-container *ngFor="let teacher of teacherArray">
    <tr class="table-light" *ngIf="filterCondition(teacher)" >
        <td>{{teacher.teacherid}}</td>
      <td>{{teacher.fullName}}</td>
      <td>{{teacher.idnumber}}</td>
        <td>{{teacher.mobile}}</td>
        <td>
          <button class="btn btn-outline-info" (click)="teacherService.populateForm(teacher)">Edit</button>
          <button class="btn btn-outline-danger" (click)="onDelete(teacher.$key)">Delete</button>
        </td>
    </tr>
  </ng-container>
</table>
<div class="alert alert-danger" *ngIf="showDeletedMessage">
  Deleted successfully.
</div>


