<h1>Vidhusuraksha</h1>
<br>
<br>
<div class="row">
  <div class="col-md-5">
    <form [formGroup]="this.studentService.form" (ngSubmit)="onSubmit()">
      <input type="hidden" formControlName="$key">
      <div class="form-group">
        <label>Full Name</label>
        <input formControlName="fullName" class="form-control" [ngClass]="{'is-invalid' :submitted && formControls.fullName.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls.fullName.errors"></div>
      </div>
      <div class="form-group">
          <label>Email</label>
          <input formControlName="email" class="form-control" [ngClass]="{'is-invalid' :submitted && formControls.email.errors}">
          <div class="invalid-feedback" *ngIf="submitted && formControls.email.errors">
            Invalid email address
          </div>
      </div>
      <div class="form-group">
          <label>mobile</label>
          <input formControlName="mobile" class="form-control" [ngClass]="{'is-invalid' :submitted && formControls.mobile.errors}">
          <div class="invalid-feedback" *ngIf="submitted && formControls.mobile.errors">
            <label *ngIf="fromControls.mobile.errors.required">This Field is required</label>
            <label *ngIf="fromControls.mobile.errors.required">Atleast 8 numbers</label>
          </div>
      </div>
      <div class="form-group">
          <label>location</label>
          <input formControlName="location" class="form-control">
      </div>
      <div class="form-group">
          <input type="submit"class="btn btn-primary" value="Submit">
      </div>
    </form>
    <div class="alert alert-info"  *ngIf="showSuccessMessage">
      Submitted successfully.
    </div>
  </div>
  
  <div class="col-md-7">
    <app-student-list></app-student-list>
  </div>
  
</div>